@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura/Futura-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('./assets/fonts/futura/futura-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* body {
    background-color: rgb(59,58,59);
} */

.input {
  @apply w-[300px] h-[70px] mb-[30px] rounded-[15px] p-5 text-[15px] border-2 border-white bg-[rgb(59,58,59)]
  text-[rgba(127,127,127,100)]
}

.info {
  @apply text-[20px] text-white font-futura mb-[70px] mr-[10px] mt-[60px]
}

.checkbox {
  @apply flex items-center mt-4 text-white font-futura font-extralight
}